.ui.tiny.label {
    padding-left: 13px;
}

form .comment-field {
    justify-content: center;
}
form .comment-field .column {
    justify-self: center;
    align-items: center;
    align-self: center;
}

.dropbox {
    display: flex !important;
    flex-direction: column;
}
.ui.basic.button{
    margin:0
}

.ui.grid .grid-header {
    text-align: center;
}

.ui.grid .no-margin-top {
    padding-bottom: 0;
}
.ui .center-me  , .ui .center-me .label {
    text-align: center;
    padding: 0 !important;
}
.ui .display-none {
    background: red;
    display: none;

}