.menu{
  margin-top: 1em !important;
}
.home-page {
  margin-top: 3em !important;
}
.grid .row {
  margin: 2em !important;
}
.ui.label {
  background: #fff;
  
}
.ui.large.label {
  letter-spacing: 2px;

}
.ui.input {
  margin: .5em 0;
}

.ui.grid>.row {
  padding:0;
  margin: .5em 0 !important ;
}
.ui.grid {
  margin: .5em 0 !important;
}